# CSC 593

## Week 6

### Introduction to Pandas

In [22]:
import numpy as np
import pandas as pd

#### Reading files

##### Basics

**CSV**

[`pd.read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [23]:
#load a csv.
nhis_person = pd.read_csv('../data/nhis/personsx.csv')
nhis_person.head()

,FPX,AGE_CHG,INTV_QRT,SEX,NOWAF,FSPOUS2,COHAB1,COHAB2,FCOHAB3,ASTATFLG,...,EDUC1,ERNYR_P,ARMFTM7P,ARMFTM1P,ARMFTM2P,ARMFTM3P,ARMFTM4P,ARMFTM5P,ARMFTM6P,ENGLANG
0,1,NaN,1,2,NaN,NaN,NaN,NaN,NaN,1.0,...,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,1,NaN,1,2,2.0,2.0,NaN,NaN,NaN,2.0,...,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2,NaN,1,1,2.0,1.0,NaN,NaN,NaN,0.0,...,15,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,3,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,1,NaN,1,1,2.0,2.0,NaN,NaN,NaN,1.0,...,21,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

**Excel**

[`pd.read_excel()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

In [24]:
#sheet_name is optional if you want the first (or only) sheet.
bookreq = pd.read_excel('../data/book_requests.xlsx', sheet_name=0)
bookreq.head()

FileNotFoundError: [Errno 2] No such file or directory: '../data/book_requests.xlsx'

The simple options only work for files that are formatted in a specific way: Headers on the first row, with data immediately under them. Pandas will try to guess the correct type for each column (integer, floating-point number, string, etc.)

**Fixed Width**

[`read_fwf()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_fwf.html)

In [ ]:
icd = pd.read_fwf('../dataset/icd10cm_codes_2020.txt')
icd.head()

In [ ]:
#Specify column names
icd = pd.read_fwf('../dataset/icd10cm_codes_2020.txt', 
                  names=['code', 'description'])
icd.head()

In [ ]:
#Specify column locations.
icd = pd.read_fwf('../dataset/icd10cm_codes_2020.txt', 
                  colspecs=((0,7),(8,72)), 
                  names=['code', 'description'])
icd.head()

In [ ]:
colnames = list(banner.columns)
print(colnames)
banner2 = pd.read_excel('../dataset/courselist.xlsx', sheet_name=0,
                    names=colnames, skiprows=range(10), nrows=10)
banner2

##### Practice

Read your dataset from the `dataset` folder into a new DataFrame.

#### Joining 

[Merge, join, and concatenate](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

In [26]:
mydataset = pd.read_csv('../DataSet/rigradrates.csv')
mydataset.head()

,STNAM,FIPST,LEAID,ST_LEAID,LEANM,ALL_COHORT_1617,ALL_RATE_1617,MAM_COHORT_1617,MAM_RATE_1617,MAS_COHORT_1617,...,MTR_RATE_1617,MWH_COHORT_1617,MWH_RATE_1617,CWD_COHORT_1617,CWD_RATE_1617,ECD_COHORT_1617,ECD_RATE_1617,LEP_COHORT_1617,LEP_RATE_1617,DATE_CUR
0,RHODE ISLAND,44,4400001,RI-50,R.I. Sch for the Deaf,6,GE50,NaN,NaN,NaN,...,NaN,3.0,PS,5.0,PS,5,PS,1.0,PS,17-Aug-18
1,RHODE ISLAND,44,4400003,RI-60,MET Career and Tech,203,90,2.0,PS,6.0,...,GE50,76.0,85-89,36.0,70-79,167,85-89,10.0,GE50,17-Aug-18
2,RHODE ISLAND,44,4400004,RI-40,Davies Career and Tech,160,80-84,1.0,PS,2.0,...,GE50,68.0,75-79,15.0,GE50,130,75-79,17.0,GE80,17-Aug-18
3,RHODE ISLAND,44,4400008,RI-58,Beacon Charter School,55,GE90,2.0,PS,3.0,...,PS,36.0,GE90,7.0,GE50,33,GE90,NaN,NaN,17-Aug-18
4,RHODE ISLAND,44,4400009,RI-67,DCYF,36,19-Nov,NaN,NaN,1.0,...,PS,14.0,LT50,13.0,LT50,31,19-Nov,3.0,PS,17-Aug-18

##### Concatenating (merging top to bottom):

In [ ]:
banner3 = pd.read_excel('../dataset/courselist.xlsx', sheet_name=0,
                    names=colnames, skiprows=range(100), nrows=10)

#ignore index means we re-number the rows.
classes = pd.concat([banner2, banner3], ignore_index=True)
classes

##### Merging

In [ ]:
nhis_family = pd.read_csv('../data/nhis/familyxx.csv')
nhis_family.head()

In [ ]:
#Notes:  Use this variable [FMX] in combination with HHX and SRVY_YR 
#to identify individual families. 
nhis_family = pd.read_csv('../data/nhis/familyxx.csv')
pd.merge(nhis_person, nhis_family, on=['FMX', 'HHX', 'SRVY_YR']).head()

#### Summarizing

In [ ]:
nhis.head()

In [ ]:
nhis.head(1)

In [ ]:
nhis.tail(3)

In [ ]:
nhis.describe()

In [ ]:
nhis.sum().head()

In [ ]:
bookreq.quantile(.5)

In [ ]:
bookreq.quantile([.25, .5, .75])

In [ ]:
bookreq.mean()

#### Cleaning

We can search the entire dataframe for a value.

In [ ]:
banner.astype(np.object)  == 'BIOL'

 The `any()` method will tell us which columns contain a value:

In [ ]:
(banner.astype(np.object)  == 'BIOL').any()

The above methods don't work with `NaN` (missing values) because `NaN` doesn't equal itself:

In [ ]:
np.nan == np.nan

We have to use the `isnull()` method to find `NaN`.

In [6]:
#Are there missing values?
pd.isnull(banner).any()

NameError: name 'banner2' is not defined

In [4]:
NA = np.nan
data = [[10, 11, NA, 8],[5,4,5,8],[9,9,3,4], [NA, NA, NA, NA], [NA, 4, 5, 9]]
dr = pd.DataFrame(data)

dr

NameError: name 'np' is not defined

Pandas provides a couple of built-in methods for dealing with missing values. `dropna()` will remove them, along with the entire row they belong in.

In [ ]:
dr.dropna()

In [ ]:
#Drop the columns instead.
dr.dropna(axis=1)

In [ ]:
#Only remove rows where all values are `NaN`.
dr.dropna(how='all')

You can also fill in missing values using the `fillna()` function:

In [ ]:
#replace them all with zeroes.
dr.fillna(0)

In [ ]:
#Use a dictionary to set different values per-column.
dr.fillna({0: 10, 2: 5})

In [ ]:
#Make changes in place:
dr.fillna({0: 10, 2: 5}, inplace=True)
dr

In [ ]:
#staging.
dr.iloc[2:,1] = NA
dr

In [ ]:
#Fill forward
dr.fillna(method='ffill')

In [ ]:
#Backwards
dr.fillna(method='bfill')

In [ ]:
#Limit how many rows forward.
dr.fillna(method='ffill', limit=2)

You can also use functions to provide the values.

In [ ]:
#Fill with the mean.
dr.fillna(dr.mean())

In [ ]:
dr.fillna(dr.median())

In [ ]:
np.mean(pd.DataFrame([dr[2].shift(1), dr[2].shift(-1)]))

#### Find and remove duplicates

In [ ]:
#staging
dr2 = pd.DataFrame(data + [[5,4,5,8]])
dr2

In [ ]:
#The last row is a duplicate
dr2.duplicated()

In [ ]:
dr2.drop_duplicates()

In [ ]:
#Keep the last one instead
dr2.drop_duplicates(keep='last')

In [ ]:
#Based only on some columns.
dr2.drop_duplicates([1,2])

#### [Replace values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html)

In [ ]:
df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
                    'B': ['abc', 'bar', 'xyz']})
df

In [ ]:
df.replace(to_replace=r'^ba.$', value='new', regex=True)

#### Writing files

In [ ]:
icd.to_csv('../dataset/icd.csv')

##### Practice

Write your currently-loaded dataset to a new file in your `../dataset` folder.